<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"></meta>
        <title>~~Tugas Springboot CRUD~~</title>
<!--        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Springboot App. -- Index2.html</h1>
            <h2><a th:href="@{/listUsers}">Manage users</a></h2>

            <button class="btn btn-danger">My button</button>
        </div>
    </body>

</html>